pkgs/Wadl/BingMapas.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/bingmaps" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="BingMapas" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Bing Mapas">Bing Mapas</doc>
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/bingmaps" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="GetRoute_Response_distanceUnit_def" />
      <string name="GetRoute_Response_durationUnit_def" />
      <number name="GetRoute_Response_routeLegs_def_actualEnd_def_coordinates_def_latitude_def" />
      <number name="GetRoute_Response_routeLegs_def_actualEnd_def_coordinates_def_longitude_def" />
      <string name="GetRoute_Response_routeLegs_def_actualEnd_def_coordinates_def_combined_def" />
      <object name="GetRoute_Response_routeLegs_def_actualEnd_def_coordinates_def">
        <property name="latitude" type="number" />
        <property name="longitude" type="number" />
        <property name="combined" type="string" />
      </object>
      <string name="GetRoute_Response_routeLegs_def_actualEnd_def_type_def" />
      <object name="GetRoute_Response_routeLegs_def_actualEnd_def">
        <property name="coordinates" typeRef="GetRoute_Response_routeLegs_def_actualEnd_def_coordinates_def" />
        <property name="type" type="string" />
      </object>
      <number name="GetRoute_Response_routeLegs_def_actualStart_def_coordinates_def_latitude_def" />
      <number name="GetRoute_Response_routeLegs_def_actualStart_def_coordinates_def_longitude_def" />
      <string name="GetRoute_Response_routeLegs_def_actualStart_def_coordinates_def_combined_def" />
      <object name="GetRoute_Response_routeLegs_def_actualStart_def_coordinates_def">
        <property name="latitude" type="number" />
        <property name="longitude" type="number" />
        <property name="combined" type="string" />
      </object>
      <string name="GetRoute_Response_routeLegs_def_actualStart_def_type_def" />
      <object name="GetRoute_Response_routeLegs_def_actualStart_def">
        <property name="coordinates" typeRef="GetRoute_Response_routeLegs_def_actualStart_def_coordinates_def" />
        <property name="type" type="string" />
      </object>
      <string name="GetRoute_Response_routeLegs_def_description_def" />
      <string name="GetRoute_Response_routeLegs_def_endLocation_def_address_def_countryRegion_def" />
      <string name="GetRoute_Response_routeLegs_def_endLocation_def_address_def_formattedAddress_def" />
      <object name="GetRoute_Response_routeLegs_def_endLocation_def_address_def">
        <property name="countryRegion" type="string" />
        <property name="formattedAddress" type="string" />
      </object>
      <string name="GetRoute_Response_routeLegs_def_endLocation_def_confidence_def" />
      <string name="GetRoute_Response_routeLegs_def_endLocation_def_entityType_def" />
      <string name="GetRoute_Response_routeLegs_def_endLocation_def_name_def" />
      <object name="GetRoute_Response_routeLegs_def_endLocation_def">
        <property name="address" typeRef="GetRoute_Response_routeLegs_def_endLocation_def_address_def" />
        <property name="confidence" type="string" />
        <property name="entityType" type="string" />
        <property name="name" type="string" />
      </object>
      <string name="GetRoute_Response_routeLegs_def_routeRegion_def" />
      <string name="GetRoute_Response_routeLegs_def_startLocation_def_address_def_countryRegion_def" />
      <string name="GetRoute_Response_routeLegs_def_startLocation_def_address_def_formattedAddress_def" />
      <object name="GetRoute_Response_routeLegs_def_startLocation_def_address_def">
        <property name="countryRegion" type="string" />
        <property name="formattedAddress" type="string" />
      </object>
      <string name="GetRoute_Response_routeLegs_def_startLocation_def_confidence_def" />
      <string name="GetRoute_Response_routeLegs_def_startLocation_def_entityType_def" />
      <string name="GetRoute_Response_routeLegs_def_startLocation_def_name_def" />
      <object name="GetRoute_Response_routeLegs_def_startLocation_def">
        <property name="address" typeRef="GetRoute_Response_routeLegs_def_startLocation_def_address_def" />
        <property name="confidence" type="string" />
        <property name="entityType" type="string" />
        <property name="name" type="string" />
      </object>
      <object name="GetRoute_Response_routeLegs_def">
        <property name="actualEnd" typeRef="GetRoute_Response_routeLegs_def_actualEnd_def" />
        <property name="actualStart" typeRef="GetRoute_Response_routeLegs_def_actualStart_def" />
        <property name="description" type="string" />
        <property name="endLocation" typeRef="GetRoute_Response_routeLegs_def_endLocation_def" />
        <property name="routeRegion" type="string" />
        <property name="startLocation" typeRef="GetRoute_Response_routeLegs_def_startLocation_def" />
      </object>
      <string name="GetRoute_Response_trafficCongestion_def" />
      <string name="GetRoute_Response_trafficDataUsed_def" />
      <number name="GetRoute_Response_travelDistance_def" />
      <integer name="GetRoute_Response_travelDuration_def" />
      <integer name="GetRoute_Response_travelDurationTraffic_def" />
      <object name="GetRoute_Response">
        <property name="distanceUnit" type="string" />
        <property name="durationUnit" type="string" />
        <property name="routeLegs" typeRef="GetRoute_Response_routeLegs_def" />
        <property name="trafficCongestion" type="string" />
        <property name="trafficDataUsed" type="string" />
        <property name="travelDistance" type="number" />
        <property name="travelDuration" type="integer" />
        <property name="travelDurationTraffic" type="integer" />
      </object>
      <string name="GetLocation_Response_address_def_addressLine_def" />
      <string name="GetLocation_Response_address_def_countryRegion_def" />
      <string name="GetLocation_Response_address_def_countryRegionIso2_def" />
      <string name="GetLocation_Response_address_def_formattedAddress_def" />
      <string name="GetLocation_Response_address_def_postalCode_def" />
      <object name="GetLocation_Response_address_def">
        <property name="addressLine" type="string" />
        <property name="countryRegion" type="string" />
        <property name="countryRegionIso2" type="string" />
        <property name="formattedAddress" type="string" />
        <property name="postalCode" type="string" />
      </object>
      <string name="GetLocation_Response_confidence_def" />
      <string name="GetLocation_Response_entityType_def" />
      <string name="GetLocation_Response_name_def" />
      <number name="GetLocation_Response_point_def_coordinates_def_latitude_def" />
      <number name="GetLocation_Response_point_def_coordinates_def_longitude_def" />
      <string name="GetLocation_Response_point_def_coordinates_def_combined_def" />
      <object name="GetLocation_Response_point_def_coordinates_def">
        <property name="latitude" type="number" />
        <property name="longitude" type="number" />
        <property name="combined" type="string" />
      </object>
      <string name="GetLocation_Response_point_def_type_def" />
      <object name="GetLocation_Response_point_def">
        <property name="coordinates" typeRef="GetLocation_Response_point_def_coordinates_def" />
        <property name="type" type="string" />
      </object>
      <object name="GetLocation_Response">
        <property name="address" typeRef="GetLocation_Response_address_def" />
        <property name="confidence" type="string" />
        <property name="entityType" type="string" />
        <property name="name" type="string" />
        <property name="point" typeRef="GetLocation_Response_point_def" />
      </object>
      <string name="GetMap_Response" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/bingmaps">
    <resource path="/{connectionId}/REST/V1/Routes/Driving">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetRoute" actionName="GetRoute" visibility="advanced" siena:isDeprecated="true" siena:family="GetRoute" siena:revision="1" siena:status="Preview">
        <doc title="Obter rota&#xA;Calcular uma rota usando localizadores." />
        <request>
          <param style="query" name="wp.0" type="xs:string" required="true">
            <doc title="Especificado como ponto, ponto turístico ou endereço. (47.610,-122.107 ou Seattle, WA)" />
          </param>
          <param style="query" name="wp.1" type="xs:string" required="true">
            <doc title="Especificado como ponto, ponto turístico ou endereço. (47.610,-122.107 ou Seattle, WA)" />
          </param>
          <param style="query" name="avoid" type="xs:string">
            <doc title="Uma lista de valores separados por vírgula desta lista (estradas, pedágios, minimizeHighways, minimizeTolls)." />
          </param>
          <param style="query" name="optimize" type="xs:string">
            <doc title="Especifica quais parâmetros usar para otimizar a rota." />
            <option value="distance" />
            <option value="time " />
            <option value="timeWithTraffic" />
            <option value="timeAvoidClosure" />
          </param>
          <param style="query" name="distanceUnit" type="xs:string">
            <doc title="As unidades a serem usadas para distância na resposta. Padrão: quilômetros" />
            <option value="Mile" />
            <option value="Kilometer" />
          </param>
          <param style="query" name="travelMode" type="xs:string">
            <doc title="O modo de viagem da rota. Padrão: Automóvel" />
            <option value="Driving" />
            <option value="Walking" />
            <option value="Transit" />
          </param>
          <param style="query" name="dateTime" type="xs:string">
            <doc title="Obrigatório quando o modo de viagem é transporte. Identifica o horário de transporte desejado, como hora de chegada ou de partida." />
          </param>
          <param style="query" name="timeType" type="xs:string">
            <doc title="Obrigatório quando o modo de viagem é transporte. Especifica como interpretar o valor de data/hora do transporte." />
            <option value="Arrival" />
            <option value="Departure" />
            <option value="LastAvailable" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetRoute_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/V2/REST/V1/Routes/Driving">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetRouteV2" actionName="GetRouteV2" visibility="advanced" siena:isDeprecated="true" siena:family="GetRoute" siena:revision="2" siena:status="Preview">
        <doc title="Obter rota&#xA;Calcular uma rota usando localizadores." />
        <request>
          <param style="query" name="wp.0" type="xs:string" required="true">
            <doc title="Especificado como ponto, referência ou endereço. (47.610, -122.107 ou Seattle, WA)" />
          </param>
          <param style="query" name="wp.1" type="xs:string" required="true">
            <doc title="Especificado como ponto, referência ou endereço. (47.610, -122.107 ou Seattle, WA)" />
          </param>
          <param style="query" name="avoid_highways" type="xs:boolean" default="false">
            <doc title="Evita o uso de estradas na rota." />
          </param>
          <param style="query" name="avoid_tolls" type="xs:boolean" default="false">
            <doc title="Evita o uso de rodovias com pedágio na rota." />
          </param>
          <param style="query" name="avoid_ferry" type="xs:boolean" default="false">
            <doc title="Evita o uso de balsas no rota." />
          </param>
          <param style="query" name="avoid_minimizeHighways" type="xs:boolean" default="false">
            <doc title="Minimiza (tenta evitar) o uso de estradas na rota." />
          </param>
          <param style="query" name="avoid_minimizeTolls" type="xs:boolean" default="false">
            <doc title="Minimiza (tenta evitar) o uso de rodovias com pedágio na rota." />
          </param>
          <param style="query" name="avoid_borderCrossing" type="xs:boolean" default="false">
            <doc title="Evita cruzar fronteiras nacionais na rota." />
          </param>
          <param style="query" name="optimize" type="xs:string">
            <doc title="Especifica quais parâmetros usar para otimizar a rota." />
            <option value="distance" />
            <option value="time " />
            <option value="timeWithTraffic" />
            <option value="timeAvoidClosure" />
          </param>
          <param style="query" name="distanceUnit" type="xs:string">
            <doc title="As unidades a serem usadas para distância na resposta. Padrão: quilômetros" />
            <option value="Mile" />
            <option value="Kilometer" />
          </param>
          <param style="query" name="travelMode" type="xs:string">
            <doc title="O modo de viagem da rota. Padrão: Automóvel" />
            <option value="Driving" />
            <option value="Walking" />
            <option value="Transit" />
          </param>
          <param style="query" name="dateTime" type="xs:string">
            <doc title="Obrigatório quando o modo de viagem é transporte. Identifica o horário de transporte desejado, como hora de chegada ou de partida." />
          </param>
          <param style="query" name="timeType" type="xs:string">
            <doc title="Obrigatório quando o modo de viagem é transporte. Especifica como interpretar o valor de data/hora do transporte." />
            <option value="Arrival" />
            <option value="Departure" />
            <option value="LastAvailable" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetRoute_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/V3/REST/V1/Routes/{travelMode}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="travelMode" type="xs:string" required="true">
        <doc title="O modo de viagem da rota. Padrão: Automóvel" />
        <option value="Driving" />
        <option value="Walking" />
        <option value="Transit" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetRouteV3" actionName="GetRouteV3" visibility="advanced" siena:isDeprecated="false" siena:family="GetRoute" siena:revision="3" siena:status="Preview">
        <doc title="Obter rota&#xA;Calcular uma rota usando localizadores." />
        <request>
          <param style="query" name="wp.0" type="xs:string" required="true">
            <doc title="Especificado como ponto, referência ou endereço. (47.610, -122.107 ou Seattle, WA)" />
          </param>
          <param style="query" name="wp.1" type="xs:string" required="true">
            <doc title="Especificado como ponto, referência ou endereço. (47.610, -122.107 ou Seattle, WA)" />
          </param>
          <param style="query" name="avoid_highways" type="xs:boolean" default="false">
            <doc title="Evita o uso de estradas na rota." />
          </param>
          <param style="query" name="avoid_tolls" type="xs:boolean" default="false">
            <doc title="Evita o uso de rodovias com pedágio na rota." />
          </param>
          <param style="query" name="avoid_ferry" type="xs:boolean" default="false">
            <doc title="Evita o uso de balsas no rota." />
          </param>
          <param style="query" name="avoid_minimizeHighways" type="xs:boolean" default="false">
            <doc title="Minimiza (tenta evitar) o uso de estradas na rota." />
          </param>
          <param style="query" name="avoid_minimizeTolls" type="xs:boolean" default="false">
            <doc title="Minimiza (tenta evitar) o uso de rodovias com pedágio na rota." />
          </param>
          <param style="query" name="avoid_borderCrossing" type="xs:boolean" default="false">
            <doc title="Evita cruzar fronteiras nacionais na rota." />
          </param>
          <param style="query" name="optimize" type="xs:string">
            <doc title="Especifica quais parâmetros usar para otimizar a rota." />
            <option value="distance" />
            <option value="time " />
            <option value="timeWithTraffic" />
            <option value="timeAvoidClosure" />
          </param>
          <param style="query" name="distanceUnit" type="xs:string">
            <doc title="As unidades a serem usadas para distância na resposta. Padrão: quilômetros" />
            <option value="Mile" />
            <option value="Kilometer" />
          </param>
          <param style="query" name="dateTime" type="xs:string">
            <doc title="Obrigatório quando o modo de viagem é transporte. Identifica o horário de transporte desejado, como hora de chegada ou de partida." />
          </param>
          <param style="query" name="timeType" type="xs:string">
            <doc title="Obrigatório quando o modo de viagem é transporte. Especifica como interpretar o valor de data/hora do transporte." />
            <option value="Arrival" />
            <option value="Departure" />
            <option value="LastAvailable" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetRoute_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/REST/v1/Locations/pointPlaceHolder">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetLocationByPoint" actionName="GetLocationByPoint" visibility="advanced" siena:isDeprecated="false">
        <doc title="Obter local por ponto&#xA;Obter as informações de local associadas às coordenadas de latitude e longitude." />
        <request>
          <param style="query" name="latitude" type="xs:double" required="true">
            <doc title="A coordenada de latitude que você deseja para reverter o código geográfico. Exemplo: 47.64054" />
          </param>
          <param style="query" name="longitude" type="xs:double" required="true">
            <doc title="A coordenada de longitude que você deseja para reverter o código geográfico. Exemplo: -122.12934" />
          </param>
          <param style="query" name="includeEntityTypes" type="xs:string">
            <doc title="Os tipos de entidade que você deseja retornar na resposta." />
          </param>
          <param style="query" name="includeNeighborhood" type="xs:boolean" default="true">
            <doc title="Um valor que determina se o bairro deve ser incluído ou não na resposta, quando disponível (0 ou 1)." />
          </param>
          <param style="query" name="include" type="xs:boolean" default="true">
            <doc title="Um valor que determina se o código de país ISO de duas letras deve ser incluído ou não (ciso2)" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetLocation_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/REST/v1/Locations">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetLocationByAddress" actionName="GetLocationByAddress" visibility="advanced" siena:isDeprecated="false">
        <doc title="Obter local por endereço&#xA;Obter as informações de local associadas a um endereço. Se nenhum local for encontrado, será retornado um resultado vazio." />
        <request>
          <param style="query" name="addressLine" type="xs:string">
            <doc title="Uma cadeia que especifica a linha de rua de um endereço (não incluindo cidade, país/região etc)." />
          </param>
          <param style="query" name="locality" type="xs:string">
            <doc title="Uma cadeia que contém a localidade, como uma cidade dos Estados Unidos." />
          </param>
          <param style="query" name="adminDistrict" type="xs:string">
            <doc title="Uma cadeia que contém uma cadeia de caracteres, como a abreviação de um estado americano." />
          </param>
          <param style="query" name="postalCode" type="xs:string">
            <doc title="Uma cadeia de caracteres que contém o código postal, como um CEP dos Estados Unidos." />
          </param>
          <param style="query" name="countryRegion" type="xs:string">
            <doc title="Uma cadeia que especifica o código de país ISO." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetLocation_Response" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/REST/v1/Imagery/Map/{imagerySet}/pointPlaceHolder/{zoomLevel}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="imagerySet" type="xs:string" required="true">
        <doc title="O tipo de imagem." />
        <option value="Aerial" />
        <option value="AerialWithLabels" />
        <option value="CanvasDark" />
        <option value="CanvasLight" />
        <option value="CanvasGray" />
        <option value="Road" />
      </param>
      <param style="template" name="zoomLevel" type="xs:string" required="true" default="10">
        <doc title="O nível de zoom a ser exibido entre 0 e 21. Padrão: 10" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetMap" actionName="GetMap" visibility="advanced" siena:isDeprecated="true" siena:family="GetMap" siena:revision="1" siena:status="Preview">
        <doc title="Obter mapa estático&#xA;Obter mapa estático." />
        <request>
          <param style="query" name="latitude" type="xs:string" required="true">
            <doc title="A coordenada de latitude que você deseja para reverter o código geográfico. Exemplo: 47.64054" />
          </param>
          <param style="query" name="longitude" type="xs:string" required="true">
            <doc title="A coordenada de longitude que você deseja para reverter o código geográfico. Exemplo: -122.12934" />
          </param>
          <param style="query" name="format" type="xs:string">
            <doc title="O formato da imagem a ser usado para o mapa estático." />
            <option value="gif" />
            <option value="jpeg" />
            <option value="png" />
          </param>
          <param style="query" name="mapSize" type="xs:string">
            <doc title="A largura e a altura, em pixels, da saída do mapa estático. Exemplo: 1000,600." />
          </param>
          <param style="query" name="pushpin" type="xs:string">
            <doc title="Valor do ponto (latitude e longitude) com opções para adicionar um rótulo de até três (3) caracteres e especificar um estilo de ícone. Exemplo: 47.610,-122.107;5; P10 (mais informações: https://aka.ms/u8b8aq)." />
          </param>
        </request>
        <response>
          <representation mediaType="application/octet-stream" siena:dtype="image" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/V2/REST/v1/Imagery/Map/{imagerySet}/pointPlaceHolder/{zoomLevel}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="imagerySet" type="xs:string" required="true">
        <doc title="O tipo de imagem." />
        <option value="Aerial" />
        <option value="AerialWithLabels" />
        <option value="CanvasDark" />
        <option value="CanvasLight" />
        <option value="CanvasGray" />
        <option value="Road" />
      </param>
      <param style="template" name="zoomLevel" type="xs:string" required="true" default="10">
        <doc title="O nível de zoom a ser exibido entre 0 e 21. Padrão: 10" />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetMapV2" actionName="GetMapV2" visibility="advanced" siena:isDeprecated="false" siena:family="GetMap" siena:revision="2" siena:status="Preview">
        <doc title="Obter mapa estático&#xA;Obter mapa estático." />
        <request>
          <param style="query" name="latitude" type="xs:double" required="true">
            <doc title="A coordenada de latitude que você deseja para reverter o código geográfico. Exemplo: 47.64054" />
          </param>
          <param style="query" name="longitude" type="xs:double" required="true">
            <doc title="A coordenada de longitude que você deseja para reverter o código geográfico. Exemplo: -122.12934" />
          </param>
          <param style="query" name="format" type="xs:string">
            <doc title="O formato da imagem a ser usado para o mapa estático." />
            <option value="gif" />
            <option value="jpeg" />
            <option value="png" />
          </param>
          <param style="query" name="mapSize" type="xs:string">
            <doc title="A largura e a altura, em pixels, da saída do mapa estático. Exemplo: 1000,600." />
          </param>
          <param style="query" name="pushpinLatitude" type="xs:double">
            <doc title="Especifique a latitude do pino (mais informações: https://aka.ms/u8b8aq)." />
          </param>
          <param style="query" name="pushpinLongitude" type="xs:double">
            <doc title="Especifique a longitude do pino (mais informações: https://aka.ms/u8b8aq)." />
          </param>
          <param style="query" name="pushpinIconStyle" type="xs:long">
            <doc title="Especifique o estilo de ícone do pino (mais informações: https://aka.ms/u8b8aq)." />
          </param>
          <param style="query" name="pushpinLabel" type="xs:string">
            <doc title="Especifique um rótulo de até três (3) caracteres (mais informações: https://aka.ms/u8b8aq)." />
          </param>
        </request>
        <response>
          <representation mediaType="application/octet-stream" siena:dtype="image" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_bingmaps" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>